.cradled--bubble--btn--v-ii.dark {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-image: linear-gradient(
    90deg,
    #484646 0%,
    #2b2a2a 3%,
    #000000 23%,
    #000000 94%,
    #444242 100%
  );
  width: 200px;
  height: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
  transition:
    transform 0.25s cubic-bezier(0.22, 0.61, 0.36, 1),
    box-shadow 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.cradled--bubble--btn--v-ii.mobile {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-image: linear-gradient(
    90deg,
    #484646 0%,
    #2b2a2a 3%,
    #000000 23%,
    #000000 94%,
    #444242 100%
  );
  width: 150px;
  height: 50px;
}
.cradled--bubble--btn--v-ii.dark::after {
  content: "";
  position: absolute;
  color: #a7a9b1;
  display: flex;
  position: absolute;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  /* border: 0.001rem solid #676a7264; */
  background-color: #000000;
  width: 98%;
  height: 50%;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}
.cradled--bubble--btn--v-ii.dark:hover {
  color: rgb(183, 191, 197);
  box-shadow:
    0px 0px 10px #000000,
    0px 0px 20px #00000064;
  .cradledbubble--bloat--effect--v-ii::after {
    border: 1rem solid #6c697970;
    filter: blur(0.4rem);
    transform: scale(1.04);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .cradledBubble--txt--nd--icon--container--v-ii {
    transform: translateY(-2px);
    color: rgb(183, 191, 197);
    opacity: 100%;
  }
}

.cradledBubble--txt--nd--icon--container--v-ii:active {
  transform: translateY(-2px);
  color: rgb(183, 191, 197);
  opacity: 100%;
  animation: quickBounce 0.6s ease-in-out;
  .cradled--bubble--btn--shadow--v-ii {
    border: 0.001rem solid #e7edffbd;
  }
  .cradledbubble--bloat--effect--v-ii:active {
    animation: quickBounce 0.6s ease-in-out;
    border: 0.001rem solid #676a7291;
    transform: scaleY(0.98);
  }
}
.cradledBubble--txt--nd--icon--container--v-ii {
  display: flex;
  width: 93%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 4;
  opacity: 70%;
  transition:
    transform 0.6s cubic-bezier(0.22, 0.61, 0.36, 1),
    color 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.cradledBubble--txt--nd--icon--container--v-ii p {
  color: #a7a9b1;
  display: flex;
  font-size: 0.8rem;
  width: fit-content;
  height: fit-content;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.cradledBubble--txt--nd--icon--container--v-ii img {
  color: #a7a9b1;
  display: flex;
  font-size: 1rem;
  width: 20px;
  height: fit-content;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* dark mode shadow .......................................................*/

.cradled--bubble--btn--shadow--v-ii.dark {
  position: absolute;
  display: flex;
  border-radius: 100px;
  
  width: 98%;
  height: 95%;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0px;
  z-index: 3;
}
.cradledbubble--bloat--effect--v-ii.dark {
  position: absolute;
  display: flex;
  border-radius: 100px;
  background-color: black;
  width: 100%;
  height: 98%;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3;
}
.cradledbubble--bloat--effect--v-ii.dark::after {
  content: "";
  position: absolute;
  display: flex;
  border-radius: 100px;
  border: 0.5rem solid #c8c3df33;
  filter: blur(0.4rem);
  width: 95%;
  height: 90%;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 4;
}

.cradled--bubble--btn--shadow--v-ii.dark:before {
  content: "";
  position: absolute;
  /* border: 0.2rem solid #16161864; */
  border-radius: 40px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* filter: blur(0.3rem); */
  z-index: 3;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<LIGHT MODE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.cradled--bubble--btn--v-ii.light {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-image: linear-gradient(
    360deg,
    #e9e9e9 0%,
    #e4e4e4 15%,
    #c4c4c4 26%,
    #ffffff 47%,
    #d4d4e7 79%,
    #f4f4f4 100%
  );
  width: 200px;
  height: 50px;
  align-content: center;
  border: 0.5px solid #d0d1d179;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
  transition:
    transform 0.25s cubic-bezier(0.22, 0.61, 0.36, 1),
    box-shadow 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.cradled--bubble--btn--v-ii.mobile {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-image: linear-gradient(
    270deg,
    #484646 0%,
    #2b2a2a 3%,
    #000000 23%,
    #000000 94%,
    #444242 100%
  );
  width: 150px;
  height: 50px;
}
.cradled--bubble--btn--v-ii.light::after {
  content: "";
  position: absolute;
  color: #a7a9b1;
  display: flex;
  position: absolute;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-color: #ecedee;
  width: 98%;
  height: 50%;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}
.cradled--bubble--btn--v-ii.light:hover {
  color: rgb(183, 191, 197);
  box-shadow:
    0px 0px 10px #b9b9cf,
    0px 0px 20px #c6c6c764;
  .cradledbubble--bloat--effect--v-ii.light::after {
    border: 1rem solid #7f8fac70;
    filter: blur(0.4rem);
    transform: scale(1.04);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  .cradledBubble--txt--nd--icon--container--v-ii {
    transform: translateY(-2px);
    color: rgb(183, 191, 197);
    opacity: 100%;
  }
}

.cradledBubble--txt--nd--icon--container--v-ii.light:active {
  transform: translateY(-2px);
  color: rgb(183, 191, 197);
  opacity: 100%;
  animation: quickBounce 0.6s ease-in-out;
  .cradled--bubble--btn--shadow--v-ii.light {
    border: 0.001rem solid #a1a4afbd;
  }
  .cradledbubble--bloat--effect--v-ii.light:active {
    animation: quickBounce 0.6s ease-in-out;
    border: 0.001rem solid #4e515791;
    transform: scaleY(0.98);
  }
}
.cradledBubble--txt--nd--icon--container--v-ii.light {
  display: flex;
  width: 93%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 4;
  opacity: 70%;
  transition:
    transform 0.6s cubic-bezier(0.22, 0.61, 0.36, 1),
    color 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* light mode shadow .......................................................*/

.cradled--bubble--btn--shadow--v-ii.light {
  position: absolute;
  display: flex;
  border-radius: 100px;
  width: 98%;
  height: 95%;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0px;
  z-index: 3;
}
.cradledbubble--bloat--effect--v-ii.light {
  position: absolute;
  display: flex;
  border-radius: 100px;
  background-color: hsla(295, 100%, 99%, 100%);
  width: 100%;
  height: 98%;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3;
}
.cradledbubble--bloat--effect--v-ii.light::after {
  content: "";
  position: absolute;
  display: flex;
  border-radius: 100px;
  border: 0.5rem solid #8295ac4d;
  filter: blur(0.4rem);
  width: 95%;
  height: 90%;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 4;
}

.cradled--bubble--btn--shadow--v-ii.light:before {
  content: "";
  position: absolute;
  /* border: 0.2rem solid #16161864; */
  border-radius: 40px;
  width: 100%;
  height: 88%;
  margin: 0px;
  padding: 0px;
  /* filter: blur(0.3rem); */
  z-index: 3;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* animation .................................................... */
@keyframes quickBounce {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.92);
  }
  70% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
