h1,
h2,
h3 {
  color: rgb(237, 243, 248);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  display: flex;
  position: relative;
  width: 850px;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 15px;
}
main{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 40px;
}
.workPagesMain--list{
    display: flex;
    position: relative;
    flex-direction: column;
}
#overView--intro-container{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 922px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 40px;
}
#workPageMain--header--img {
  width: 100%;
}
#workPage--intro--txt {
  color: #b5b7b9;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.01rem;
  padding: 0;
  margin: 0%;
}

/* -------> summary cards <------- */
#summary--cards--container {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.workPage--summaryCard {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1f2023;
  width: 390px;
  height: 200px;
  border: 0.5px solid #353a3c;
  border-radius: 15px;
  padding: 30px;
}
.summayCards--header {
  display: flex;
  position: relative;
  width: fit-content;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.summaryCard--header--img {
  display: flex;
  position: relative;
  background-color: #1f2023;
  width: 50px;
  height: 50px;
}
.summaryCard--header--title {
  display: flex;
  position: relative;
  background-color: #1f2023;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.workPagesMain--list {
  color: rgb(195, 195, 196);
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  position: relative;
  background-color: #1f2023;
}
#finalDesignPreview--container {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1f2023;
  width: 860px;
  height: fit-content;
  border: 0.5px solid #353a3c;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  padding: 30px;
  gap: 20px;
}
#finalDesignPreview--header {
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  gap: 20px;
}
#finalDesignPreview--header--icn {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
}

.finalDesignPreview--imgs--container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 950px;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.finalDesignPreview--img {
  display: flex;
  position: relative;
  width: 270px;
  gap: 20px;
}


/*=========  .7. MEDIA QUERIES ================= */
/* <<<<<<<<>>>>>>>>  desktop2 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1358px) {
}
/* <<<<<<<<>>>>>>>>  desktop 3 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1112px) {
}
/* <<<<<<<<>>>>>>>>  desktop mini <<<<<<<<>>>>>>>> */
@media screen and (max-width: 909px) {
}
/* <<<<<<<<>>>>>>>> .7b. Tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 768px) {
  #finalDesignPreview--img--container {
    width: 768px;
  }
  #finalDesignPreview--container {
    width: 98%;
  }
}
/* <<<<<<<>>>>>>>> the inbetween mobile and tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 644px) {
}
/* <<<<<<<<>>>>>>>> .7b. Mobile <<<<<<<<>>>>>>>> */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
    margin-top: 70px;
    width: 100%;
  }
  #overView--intro-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 99%;
    gap: 20px;
}
  #workPageMain--header--img {
    width: 98%;
    height: fit-content;
  }
  .finalDesignPreview--imgs--container {
    margin-bottom: 50px;
    
  }
  #finalDesignPreview--header{
    margin-left: 30px;
    margin-top: 20px;
  }
  #workPage--intro--txt {
    
    width: 98%;
    padding: 0px;
    margin: 0px;
    padding: 20px;
    font-size: 1.2rem;
    text-align: justify;
  }
  #summarysummary--cards--container{
    width: 96%;
  }
  #finalDesignPreview--container {
    max-width: 480px;
    width: 99%;
    margin: 0px;
    padding: 0px;
    flex-basis: auto;
    margin-top: 20px;
  }
  .finalDesignPreview--img {
  display: flex;
  position: relative;
  width: 300px;
  gap: 20px;
}
#workPageMain--header--img{
    height: 200px;

}
}
