html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #161616;
  margin: 0;
}
/*============= .2. LAYOUT ===================*/
main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 110px 15% 100px 15%;
}
a {
  text-decoration: none;
  color: inherit;
}
/*----------- .4a.bio------------- */

#bio-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#bio-container-desktop {
  position: relative;
  background-color: #111113;
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
  padding: 40px 25px 40px 25px;
  border-radius: 25px;
  display: flex;

  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 40px;
}
#bio-container-desktop::after {
  content: "";
  position: absolute;
  background-image: url("/gif/black\ and\ white.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  opacity: 80%;
  mix-blend-mode: multiply;
  transition: opacity 0.9s ease;
}
#bio-container-desktop:hover:after {
  opacity: 50%;
}
#bio-container-desktop::before {
  content: "";
  width: 100%;
  height: 40%;
  bottom: 60px;
  display: flex;
  background-image: linear-gradient(#8ea2b410, #a0a7ad10, #e0eaf210);
  position: absolute;
  filter: blur(50px);
  border-top-left-radius: 600px;
  border-top-right-radius: 600px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#bio-photo-desktop {
  margin-left: 20px;
  width: 22%;
  height: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}
#bio {
  position: relative;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  z-index: 4;
}
#bio-txt {
  display: flex;
  position: relative;
  color: #a7a9b1;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  width: 90%;
  height: fit-content;
  display: flex;
  margin: 0px;
}
#bio-buttons-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-content: flex-start;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
  padding: 0px;
}
#download-resume-btn,
#email-btn,
#linkedIn-btn {
  color: #a7a9b1;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-image: linear-gradient(
    270deg,
    #484646 0%,
    #2b2a2a 3%,
    #000000 23%,
    #000000 94%,
    #444242 100%
  );
  width: 200px;
  height: auto;
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#linkedIn-btn::after {
  content: "";
  position: absolute;
  display: flex;
  border-radius: 100px;
  background-color: #111112;
  box-shadow: inset 0px 1px 10px 2px #5c5b5b97;
  width: 98%;
  height: 80%;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#download-resume-btn-icn,
#email-btn-icn,
#linkedIn-btn-icn {
  width: 1.2rem;
}

#logoSlide {
  display: flex;
  background-image: linear-gradient(
    80deg,
    #282642 0%,
    #17181a 50%,
    #121213 70%,
    #262e3a 100%
  );
  width: 700px;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 0px 0px 0px 20px;
  gap: 20px;
  overflow: hidden;
}
#slider-title {
  display: flex;
  position: relative;
  color: #a7a9b1;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-right: 1px solid #3b3b3d;
  padding-right: 20px;
  display: flex;
  margin: 0px;
  gap: 10px;
}
#slider-title img {
  width: 20px;
  display: flex;
}
#slider-title p {
  font-size: 1rem;
  margin: 0%;
}

/*---------------- .4b. my works section-------------------------- */

#myWorks-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border: 0.01px solid #252525;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

#myWorks-Cards-container {
  display: flex;
  width: fit-content;
  height: auto;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1039px;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 20px;
  gap: 50px;
}
#myWorks-header-container {
  background-color: #222222;
  display: flex;
  position: absolute;
  top: -35px;
  width: 200px;
  height: 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
#myWorks-header-icn {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
#myWorks-header-txt {
  display: flex;
  position: relative;
  letter-spacing: 0.1rem;
  color: #979292;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
}





  /*=========  .7. MEDIA QUERIES ================= */

  /* -------------  desktop2 --------------------------*/
