
/*============= .1. GENERAL ===================*/
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #161616;
  margin: 0;
}
/*============= .2. LAYOUT ===================*/
main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* margin: 145px 0px 100px 0px; */
  margin: 110px 0px 100px 0px;
}
/*============= .3. MENU ===================*/
/* --- .3a. Greneral styles  menu --- */
/* \\\\\ .4. intro profile an MY WORKS category //// */
#mobile--header {
  display: none;
}
#intro--nd--myWorksCategories{
  background-color: #0f0f0f55;
  width: 85%;
  max-width: 1280px;
  height: fit-content;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 15px #0c0c0caf;
  border-radius: 60px;
  border: 0.5px solid #5555550e;
  backdrop-filter: brightness() opacity(50%) blur(8px);
  background-image: linear-gradient(
    200deg,
    rgba(8, 8, 8, 0.185) 0%,
    #22222220 40%,
    #25252520 95%
  );
  border-radius: 30px;
  gap: 20px;
  padding: 50px 0px 50px 0px;
  margin-top: 30px;
}
em{
  display: inline-flex;
  position: relative;
  font-style: normal;
  font-weight: 600;
  color: #e2dfdf;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-left: 10px;
}
#grid--bacground--img{
    width: 80%;
    height: aut0;
    display: flex;
    position: absolute;
    transform: translate(0px,-150px);
    opacity: 30%;
}
#starBacklight--bacground--img{
    width: 80%;
    height: aut0;
    display: flex;
    position: absolute;
    transform: translate(0px,200px);
}
/* ---> intro profile section <--- */
#intro-profile-continer {
  width: 90%;
  height: 255px;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 55px;
}
#intro--profile--img--container {
  max-width: 30%;
  width: 290px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}
#intro--profile--img{
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  z-index: 4;
}
#animated--avatar{
  width: 90%;
  height: auto;
  display: flex;
  position: absolute;
  border-radius: 100px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}
#intro--txt {
  display: inline;
  position: relative;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  color: #979292;
  max-width: 700px;
  width: 60%;
  height: 400px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
/* ---> My works category section <--- */
#myWork--category--container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.categoryTriIcons--container {
  width: fit-content;
  height: fit-content;
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#myWork--categoryIcons--container {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}
.divider {
  width: 95%;
  height: 0.0049rem;
  background: #222;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.myworkCategoryIcon {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.myworkCategoryIcon--backdrop {
  width: 100px;
  height: 100%;
  display: flex;
  position: absolute;
  transform: translateY(-55px);
  opacity: 20%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.myworkCategoryIcon:hover {
  border-radius: 30px;
  scale: 105%;
  z-index: 200;
  transition: all 0.5s ease-in-out;
  }
/* ---> .6. recent activites section <--- */
#recentAcivities--container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}
.squircleStyle--header {
  background-color: #222222;
  display: flex;
  position: absolute;
  top: -35px;
  width: fit-content;
  height: 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* box-shadow: 0px 3px 15px #0c0c0c; */
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.squircleStyle--header--icn {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.squircleStyle--header--title {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  color: #979292;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
}
.capsuleCards--Container {
  background-color: #161616;
  backdrop-filter: brightness() opacity(70%) blur(8px);
  display: flex;
  /* ---> flex-direction: column; <--- */
  position: relative;
  flex-wrap: wrap;
  max-width: 1280px;
  width: fit-content;
  height: auto;
  border-radius: 20px;
  border: 1px solid #252525;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* box-shadow: 0px 3px 15px #0c0c0caf;
  backdrop-filter: brightness() opacity(50%) blur(8px);
  background-image: linear-gradient(
    200deg,
    rgba(8, 8, 8, 0) 0%,
    #14141420 40%,
    #1d1c1c20 95%
  ); */
  gap: 25px;
  padding: 20px 0px 20px 0px;
}
.capsule--card {
  background-color: transparent;
  width: 400px;
  height: 110px;
  display: flex;
  position: relative;
  border-radius: 25px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  gap: 10px;
}
.capsule--card:hover {
  background-color: #1f1f1f;
  scale: 105%;
  z-index: 200;
  transition: all 0.5s ease-in-out;
  .capsuleCard-img {
    opacity: 100%;
    cursor: pointer;
  }
}
.capsuleCard-foreground-grad {
  background-image: linear-gradient(
    176deg,
    #313131 0%,
    #2e2c2c20 28%,
    #25242465 75%,
    #171717 95%
  );
  height: 117px;
  width: 398px;
  display: flex;
  position: absolute;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0;
  z-index: 3;
}
.capsuleCard-background {
  margin: 0.05rem;
  height: 116px;
  width: 396px;
  position: absolute;
  border-radius: 20px;
  padding: 2px;
  z-index: 2;
  border: 1px solid #252525;
}
.capsuleCard-backdrop-grad {
  height: 120px;
  width: 400px;
  position: absolute;
  background: linear-gradient(to bottom right, #45434380, #4d4c4c10, #3c3a3a40);
  border-radius: 20px;
  z-index: 1;
}
.capsuleCard-img {
  width: 120px;
  height: 110px;
  border-radius: 20px;
  opacity: 50%;
  display: flex;
  position: relative;
  align-content: end;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.capsuleCard-txt {
  min-width: 200px;
  width: 240px;
  height: 80%;
  flex-direction: column;
  margin: 0;

  align-content: center;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.capsuleCard-txt p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  width: 100%;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #999;
  margin: 0;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #e2dfdf;
  margin: 0;
}
.capuslecard--link{
  text-decoration: none;
}
/* ---> favourites <---section */
#favourites--container {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}
#imgGlassDunes--Container {
  background-color: #161616;
  backdrop-filter: brightness() opacity(70%) blur(8px);
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  border: 1px solid #25252575;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 3px 15px #0c0c0caf;
  backdrop-filter: brightness() opacity(50%) blur(8px);
  background-image: linear-gradient(
    200deg,
    rgba(8, 8, 8, 0) 0%,
    #14141420 40%,
    #1d1c1c20 95%
  );
  gap: 20px;
  padding: 20px;
  }
.imgGlassDune {
  background-color: transparent;
  width: 220px;
  display: flex;
  position: relative;
  border-radius: 30px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  gap: 10px;
}
.imgGlassDune:hover {
  background-color: #1f1f1f;
  scale: 101%;
  z-index: 200;
  transition: all 0.2s ease-in-out;
  .imgGlassDune-img {
    opacity: 100%;
    cursor: pointer;
  }
}
.imgGlassDune-foreground-grad {
  background-image: linear-gradient(
    176deg,
    #313131 0%,
    #2e2c2c20 28%,
    #25242465 75%,
    #171717 95%
  );
  height: 204px;
  width: 220px;
  display: flex;
  position: absolute;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0;
  z-index: 3;
}
.imgGlassDune-background {
  margin: 0.05rem;
  height: 200px;
  width: 215px;
  position: absolute;
  border-radius: 20px;
  padding: 2px;
  z-index: 2;
  border: 1px solid #252525;
}
.imgGlassDune-backdrop-grad {
  height: 200px;
  width: 200px;
  position: absolute;
  background: linear-gradient(to bottom right, #45434380, #4d4c4c10, #3c3a3a40);
  border-radius: 25px;
  z-index: 1;
}
.imgGlassDune-img {
  width: 190px;
  height: 190px;
  border-radius: 20px;
  display: flex;
  position: relative;
  align-content: end;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  z-index: 4;
}


/* \\\\\\\\\\ .7. MEDIA QUERIES //////*/

/* <<<<<<<<>>>>>>>>  desktop2 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1065px) {
  #intro--nd--myWorksCategories {
    background-color: transparent;
    max-width: 1280px;
    height: fit-content;
    padding: 20px 0px 20px 0px;
    margin-top: 10px;
    gap: 10px;
    background-image: none;
    box-shadow: none;
    border: none;
  }
  #intro-profile-continer {
    background-color: #0f0f0f55;
  width: 100%;
  max-width: 1280px;
  height: fit-content;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 15px #0c0c0caf;
  border-radius: 60px;
  border: 0.5px solid #5555550e;
  backdrop-filter: brightness() opacity(50%) blur(8px);
  background-image: linear-gradient(
    200deg,
    rgba(8, 8, 8, 0.185) 0%,
    #22222220 40%,
    #25252520 95%
  );
  border-radius: 30px;
  gap: 20px;
  padding: 50px 0px 50px 0px;
  overflow: hidden;
  }
  #myWork--categoryIcons--container{
    flex-direction: column;
    gap: 50px;
  }
  .categoryTriIcons--container {
    justify-content: center;
    gap:  150px;
  }
#myWork--category--container{
  margin-top: 70px;
}
.capsuleCards--Container {
    width: 700px;
    height: auto;
    
  }
}
/* <<<<<<<>>>>>>>> 7a Tablet  <<<<<<<>>>>>>>> */
@media screen and (max-width: 768px) {
  main {
    margin: 10px;
  }
  #myWork--categoryIcons--container{
    flex-direction: column;
    gap: 50px;
  }
  #intro--txt {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 90%;
    height: auto;
  }
  .categoryTriIcons--container {
    gap:  100px;
  }
  .category-icons-container {
    max-width: 462px;
  }
  .capsuleCards--Container {
    width: 800px;
    height: auto;
    
  }
}
/* <<<<<<<>>>>>>>> the inbetween mobile and tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 615px) {
  .categoryTriIcons--container {
    gap: 50px;
  }
}
/* <<<<<<<<>>>>>>>> .7b. Mobile <<<<<<<<>>>>>>>> */
@media screen and (max-width: 480px) {
  main {
    margin: 10px;
  }
  #intro--nd--myWorksCategories{
    width: 98%;
    height: fit-content;
    padding: 20px 0px 20px 0px;
    gap: 10px;
    backdrop-filter: brightness() opacity(70%) blur(8px);
  background-image: linear-gradient(
    50deg,
    #1b1a1a7a,
    #0f0f0f92,
    #1b1a1a94,
    #0f0f0f94,
    #2726266b
  );
    border: 1px solid #dfdafa0e;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-top: 65px;
  }
  /* --- .7b2. intro profile  (MOBILE)  --- */
  #intro-profile-continer {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 10px;
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    box-shadow: none;
    border: none;
    background-image: none;
    font-size: 1rem;
    position: relative;
  }
  #grid--bacground--img{
    width: 80%;
    height: auto;
    display: flex;
    position: absolute;
    transform: translate(0px,-250px);
    opacity: 100%;
  }
  #starBacklight--bacground--img{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    transform: translate(0px,-100px);
  }
  #intro--profile--img--container {
    max-width: 50%;
    width: 290px;
    height: auto;
  }
  #intro-txt {
    font-size: 0.5rem;
    line-height: 2rem;
    width: 80%;
    height: auto;
  }
/* ---> my works categoty section (MOBILE)  <--- */
 #myWork--category--container {
    gap: 10px;
    margin: 0%;
    margin-top: 10px;
  }
#myWork--categoryIcons--container{
    flex-direction: column;
    margin-top: 20px;
   gap: 0px;
  }
  .categoryTriIcons--container {
    justify-content: center;
    gap:  30px;
  }
  .category-icons-container {
    gap: 40px;
  }
  .myworkCategoryIcon {
    width: 80px;
  }
  .myworkCategoryIcon--backdrop {
    width: 80px;
    height: 80px;
    transform: translateY(-40px);
  }
  /* ---> .7b3. rectent activity section (MOBILE) <--- */
  .capsuleCards--container{
    width: 310px;
    flex-direction: column;
    margin: 20px;
  }
  .divider {
    width: 300px;
  }
  #capsuleCards--Containe{
    width: fit-content;
  }
  .squircleStyle--header{
    top: -35px;
    width: fit-content;
    height: 35px;
  }
  .squircleStyle--header--icn {
    width: 16px;
    height: auto;
  }
  .squircleStyle--header--title {
    font-size: 0.8rem;
  }
  .capsule--card {
    background-color: transparent;
    width: 400px;
  }
  #recentAcivities--container {
    display: flex;
    position: relative;
    width: 90%;
    height: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 70px;
  }
  .capsuleCard-foreground-grad {
    width: 388px;
    gap: 5px;
  }
  .capsuleCard-background {
    width: 386px;
  }
  .capsuleCard-backdrop-grad {
    width: 380px; 
  }
  .capsuleCard-img {
    transform: translate(5px);
    width: 116px;
  }
  .capsuleCard-txt {
    width: 100%;
    height: auto;
    transform: translate(8px);
    justify-content: flex-start;
    text-align: left;
    
  }
  .capsuleCard-txt p {
    width: 255px;
    height: auto;
    transform: translate(8px);
    left: 0;
    text-align: left;
  }
 
  h4 {
    margin-bottom: 8px;
  }
  #favourites--container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
}
#imgGlassDunes--Container {
  background-color: #161616;
  backdrop-filter: brightness() opacity(70%) blur(8px);
  display: flex;
  position: relative;
  width: 90%;
  height: fit-content;
  border-radius: 20px;
  border: 1px solid #25252575;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 3px 15px #0c0c0caf;
  backdrop-filter: brightness() opacity(50%) blur(8px);
  background-image: linear-gradient(
    200deg,
    rgba(8, 8, 8, 0) 0%,
    #14141420 40%,
    #1d1c1c20 95%
  );
  gap: 20px;
  padding: 20px;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */  
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
    flex-wrap: wrap;
    max-width: 380px;
  }    
}
#mobile--header{
  display: flex;
  position: fixed;
  top: 0px;
  width: 100dvw;
  height: 70px;
  background-image: radial-gradient(circle, #ffffff00, #ebeaea00);
  backdrop-filter: blur(10px) opacity(95%) ;
  align-content: center;
  align-items: center;
  justify-content: center;
  z-index: 900;
  
}
#mobile--navbar{
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-top: 7px;
  gap: 7%;

}
#mHeader--logo img{
  width: 80px;
  height: auto;
}
#mHeader--left--button, #mHeader--right--button{
  color: #979292;
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
    width: 100px;
    height: 30px;
    /* border: 0.9px solid #55555502; */
    border-radius: 12px;
    background-color: #0f0f0f7e;
    /* box-shadow: 0px 3px 10px #000000bb; */
    backdrop-filter: opacity(70%) blur(8px);
    background-image: linear-gradient(
      350deg,
      #454343a8 10%,
      #4D4C4C20 40%,
      #8d8d8d20 100%
    );
    gap: 5%;
    padding: 5px 10px;
}
#mHeader--left--button img, #mHeader--right--button img{
  color: #979292;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
    width: 20px;
    height: 20px;
}
#mHeader--left--button p, #mHeader--right--button p{
  color: #979292;
  display: flex;
  font-size: 0.8rem;
  width: fit-content;
  position: relative;
  align-items: center;
  justify-content: center;
  height: fit-content;
    
}
}